@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

@import'./colors.scss';

.page{
    width: 100%;
    min-width: 320px !important;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: $light_grey;
    padding-bottom: 80px;

    .page__inside-page{
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
    }
}